=begin
#PGマルチペイメントサービス OpenAPIタイプ

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.3.1

Generated by: https://openapi-generator.tech
Generator version: 7.6.0

=end

require 'cgi'

module GmoPaymentApiClient
  class CashApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # 支払い番号発行
    # コンビニ決済や銀行振込などの現金払いでのお支払い時に利用するAPIです。   支払いの結果は、非同期で加盟店様がリクエスト時に設定した[Webhook URLにHTTPメソッド`POST`で通知](#tag/events/operation/cashWebhook)します。 
    # @param cash_charge_request [CashChargeRequest] どの現金払いを利用するかは&#x60;cashInformation.cashType&#x60;で設定します。 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 冪等キー   UUIDv4に則った書式でリクエスト毎にユニークとなる最大36桁の値。   詳細は[冪等処理](#tag/idempotence)を参照ください。 
    # @return [CashChargeResponse]
    def cash_charge(cash_charge_request, opts = {})
      data, _status_code, _headers = cash_charge_with_http_info(cash_charge_request, opts)
      data
    end

    # 支払い番号発行
    # コンビニ決済や銀行振込などの現金払いでのお支払い時に利用するAPIです。   支払いの結果は、非同期で加盟店様がリクエスト時に設定した[Webhook URLにHTTPメソッド&#x60;POST&#x60;で通知](#tag/events/operation/cashWebhook)します。 
    # @param cash_charge_request [CashChargeRequest] どの現金払いを利用するかは&#x60;cashInformation.cashType&#x60;で設定します。 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 冪等キー   UUIDv4に則った書式でリクエスト毎にユニークとなる最大36桁の値。   詳細は[冪等処理](#tag/idempotence)を参照ください。 
    # @return [Array<(CashChargeResponse, Integer, Hash)>] CashChargeResponse data, response status code and response headers
    def cash_charge_with_http_info(cash_charge_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CashApi.cash_charge ...'
      end
      # verify the required parameter 'cash_charge_request' is set
      if @api_client.config.client_side_validation && cash_charge_request.nil?
        fail ArgumentError, "Missing the required parameter 'cash_charge_request' when calling CashApi.cash_charge"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 36
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling CashApi.cash_charge, the character length must be smaller than or equal to 36.'
      end

      # resource path
      local_var_path = '/cash/charge'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cash_charge_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CashChargeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AccessToken', 'Password']

      new_options = opts.merge(
        :operation => :"CashApi.cash_charge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CashApi#cash_charge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
